<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elegant Color Palette Generator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="content-container">
      <h1>Color Palette Generator</h1>

      <div class="form-container">
        <form id="paletteForm">
          <label for="text_prompt"
            >Enter a prompt for your color palette:</label
          >
          <input
            type="text"
            id="text_prompt"
            name="text_prompt"
            placeholder="e.g., beach sunset, forest tones"
          />
          <button type="submit">Generate Palette</button>
        </form>
      </div>
    </div>

    <div class="palette-container" id="paletteContainer"></div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
